<form>
  <div class="form-group">
    <label for="email">Email</label>
    {{input value=email id="email"}}
    <label for="phoneNumber">Phone Number</label>
    {{input value=phoneNumber id="phoneNumber"}}
  </div>
  <div class="form-group">
    <label for="title">Posting Title</label>
    {{input value=title id="title"}}
    <label for="price">Price</label>
    {{input value=price id="price"}}
    <label for="location">Location</label>
    {{input value=location id="location"}}
  </div>
  <div class="form-group">
    <label for="body">Posting Body</label>
    {{input value=body id="body"}}
  </div>
  <div class="form-group">
    {{#each category.postingDetails as |detail|}}
      <label for="{{detail}}">{{detail}}</label>
      {{input value=detail}}
    {{/each}}
  </div>
  <button type="submit" class="btn btn-default" {{action 'createPost'}}>Enter</button>
</form>
